.clearfix,
.clear {
  clear: both; }

.clearright {
  clear: right; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1 {
  font-family: "Amatic SC", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 44pt; }
  h1 a,
  h1 a:hover {
    text-decoration: none; }

h2 {
  font-family: "Amatic SC", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 35pt;
  margin-top: .9em;
  color: #ee234f; }

h3 {
  margin-top: 2em;
  margin-bottom: 1em; }
  h3:first {
    margin-top: 1.2em;
    margin-bottom: 1em; }

a {
  text-decoration: none;
  color: #f8f7f6; }
  a:hover, p a {
    text-decoration: underline; }

p {
  font-size: 11pt;
  line-height: 1.75;
  margin-bottom: 1em;
  text-align: justify; }

ul {
  margin-left: 1.2em; }

li {
  padding-left: .5em; }

blockquote {
  margin-top: 26px;
  margin-bottom: 12px; }
  blockquote:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    content: "";
    background-image: url("/static/img/quot-left.png");
    background-repeat: no-repeat;
    background-size: contain; }
  blockquote:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    content: "";
    background-image: url("/static/img/quot-right.png");
    background-repeat: no-repeat;
    background-size: contain; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  color: #f8f7f6;
  background: url("/static/img/sidebar-bg.png") repeat-y, #1b2441;
  background-position: -100px 0; }
  @media (max-width: 800px) {
    body {
      flex-direction: column;
      background-color: #1b2441;
      background-image: none; } }
.sidebar {
  width: 300px;
  padding: 32px; }
  @media (max-width: 800px) {
    .sidebar {
      display: none; } }
  .sidebar h3 {
    margin-top: 2em;
    margin-bottom: 1em; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar ul:last-child {
      margin-bottom: 32px; }
  .sidebar li {
    font-size: 11pt;
    margin: 0;
    margin-bottom: .7em;
    padding: 0; }
  .sidebar .more a {
    font-weight: bold; }

.primary {
  width: calc(100% - 300px);
  max-width: 900px;
  padding: 32px 32px 32px 75px; }
  @media (max-width: 800px) {
    .primary {
      width: 100%;
      margin-left: 0;
      padding: 0; } }
@media (max-width: 800px) {
  .main {
    padding: 0 32px 8px 32px !important; } }

@media (max-width: 800px) {
  .main h2:first-child {
    margin-top: .2em; } }

.mobile-logo {
  display: none; }
  @media (max-width: 800px) {
    .mobile-logo {
      display: block; } }
  .mobile-logo img {
    width: 96px;
    vertical-align: middle; }
  .mobile-logo .logotext {
    height: 30px; }
    @media (max-width: 400px) {
      .mobile-logo .logotext {
        height: 25px; } }
.logo {
  width: 200px; }

.page-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-links li {
    font-family: "Amatic SC", "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 24pt;
    display: inline-block;
    margin: 0;
    margin-right: 32px;
    padding: 0; }
    @media (max-width: 400px) {
      .page-links li {
        font-size: 21pt; } }
    footer .page-links li {
      font-size: 18pt;
      margin-bottom: 12px; }
  .page-links a:hover {
    padding-bottom: 3px;
    text-decoration: none;
    background-image: url("/static/img/line-a.png");
    background-repeat: repeat-x;
    background-position: bottom left; }

.mobile-link {
  display: none; }
  @media (max-width: 800px) {
    .mobile-link {
      font-size: 20pt;
      display: inline-block; } }
.social-media-links {
  float: right;
  margin: 6px 0 0 0;
  padding: 0;
  list-style: none; }
  .social-media-links li {
    display: inline-block;
    margin-right: 8px; }
    .social-media-links li a {
      display: block;
      overflow: hidden;
      max-width: 32px;
      height: 32px;
      text-indent: -999px;
      color: #1b2441;
      background-repeat: no-repeat;
      background-size: contain; }

.action-links {
  margin: 8px 0 20px 0;
  list-style: none; }
  .action-links li {
    display: inline-block;
    width: 180px;
    margin: 0;
    margin-right: 8px;
    padding: 0; }
    .action-links li a {
      font-size: 11pt;
      font-weight: bold;
      display: bold;
      display: block;
      text-align: center;
      color: #ee234f; }
      .action-links li a:hover {
        padding-bottom: 0;
        background: none; }
      .action-links li a img {
        display: block;
        max-width: 68px;
        max-height: 68px;
        margin: 4px auto 8px auto; }
  .action-links-small li {
    width: 100px; }

.photos-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }

.photo {
  position: relative; }
  .photo img {
    width: 100%;
    padding: .8%;
    padding-top: .85%; }
  .photo .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/photo-border.png");
    background-repeat: no-repeat;
    background-size: contain; }

.events {
  margin-bottom: 16px; }
  .events h4 {
    margin-top: 1em;
    margin-bottom: .2em; }
    .events h4:first-child {
      margin-top: 0; }
  .events li {
    padding-left: .1em; }

.partners {
  list-style: none; }
  .partners li {
    display: inline-block;
    width: 140px;
    margin-right: 32px; }
  .partners img {
    width: 100%; }

.quote-author {
  font-weight: bold;
  margin-bottom: 8px; }

.copyright {
  font-family: "Amatic SC", "Open Sans", "Helvetica", "Arial", sans-serif; }

.discord-link {
  font-size: 14px;
  display: block;
  width: 240px;
  height: 50px;
  margin: 32px auto 8px auto;
  border: 10px solid #ee234f;
  border-image: url("/static/img/button1.svg") 10 10 round;
  background-color: #ee234f;
  background-clip: padding-box; }

.linkbar {
  padding-bottom: 16px;
  background-image: url("/static/img/line-menu.png");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 50%; }
  @media (max-width: 800px) {
    .linkbar {
      padding: 16px 32px 32px 32px;
      background-image: url("/static/img/topbar-bg.png");
      background-repeat: repeat-x;
      background-position: bottom left;
      background-size: cover; } }
.icon-facebook {
  width: 24px;
  background-image: url("/static/img/icons/facebook.png"); }

.icon-twitter {
  width: 36px;
  background-image: url("/static/img/icons/twitter.png"); }

.icon-youtube {
  width: 36px;
  background-image: url("/static/img/icons/youtube.png"); }

.icon-instagram {
  width: 36px;
  background-image: url("/static/img/icons/instagram.png"); }

.icon-discord {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-image: url("/static/img/icons/discord.png");
  background-repeat: no-repeat;
  background-size: contain; }

.columns-2 {
  column-count: 2; }

.mediawrap {
  margin: 4px 16px; }

.medialeft {
  float: left;
  margin: 2px 10px 8px 10px; }

.mediaright {
  float: right;
  margin: 2px 10px 8px 10px; }

.mediacenter {
  display: block;
  margin: 0 auto; }

.mediatitle {
  text-align: center; }

.ul-ideas li {
  font-size: 17px;
  line-height: 1.6; }

footer {
  padding-top: 16px;
  opacity: .5;
  background-image: url(/static/img/line-menu.png);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 50%; }
  @media (max-width: 800px) {
    footer {
      padding: 32px 32px 16px 32px;
      background-size: 100%; } }
