.mediawrap {
  margin: 4px 16px;
}

.medialeft {
  float: left;
  margin: 2px 10px 8px 10px;
}

.mediaright {
  float: right;
  margin: 2px 10px 8px 10px;
}

.mediacenter {
  display: block;
  margin: 0 auto;
}

.mediatitle {
  text-align: center;
}
