.photos-two {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.photo {
  position: relative;

  img {
    width: 100%;
    padding: .8%;
    padding-top: .85%;
  }

  .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/photo-border.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
