// Colors
$color-dark: #1b2441;
$color-light: #f8f7f6;
$color-accent: #ee234f;
$color-success: #00d696;

// Fonts
$font-body: "Open Sans", "Helvetica", "Arial", sans-serif;
$font-heading: "Amatic SC", "Open Sans", "Helvetica", "Arial", sans-serif;
