* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none;}
/*p a {text-decoration: underline;}
a:hover {text-decoration: underline;}*/
a:hover {text-decoration: underline;}
.page-links a:hover {
    text-decoration: none;
    background: url("/static/img/line-a.png");
    background-position: bottom left; padding-bottom: 3px;
    background-repeat: repeat-x;}
 
.clearfix {clear: both;}
.clearright {clear: right;}

body {
    width: 100%;
    background:
        url("/static/img/sidebar-bg.png") repeat-y,
        #1b2441;
    background-position: 0 0;
    color: #f8f7f6;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

a {color: #f8f7f6;}

.sidebar {
    float: left;
    width: 400px;
    padding: 32px 32px 32px 32px;
}

.primary {
    max-width: 800px;
    padding: 32px 32px 32px 75px;
    margin-left: 400px;
}

.photos-two {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
}

.photo img {width: 100%; padding: 0.8%; padding-top: 0.85%;}
.photo {position: relative;}
.photo .border {position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: url("/static/img/photo-border.png");
    background-size: contain;
    background-repeat: no-repeat;}

.mobile-logo {display: none;}
h1, h2, .copyright {font-family: 'Amatic SC', 'Open Sans', 'Helvetica', 'Arial', sans-serif;}
h1 {font-size: 32pt;}
h2 {color: #ee234f; font-size: 35pt; margin-top: 0.9em;}
h3:first {margin-top: 1.2em; margin-bottom: 1em;}
h3 {margin-top: 2em; margin-bottom: 1em;}
.sidebar h3 {margin-top: 2em; margin-bottom: 1em;}
.sidebar ul {list-style: none;}
.sidebar ul li {margin-bottom: 0.7em; font-size: 11pt;}
.sidebar ul li.more a {font-weight: bold;}

.sidebar ul:last-child {margin-bottom: 32px;}

.discord-link {
    display: block;
    border: 10px solid #b01134;
    background: #b01134; background-clip: padding-box;
    border-image: url("/static/img/button1.svg") 10 10 round;
    height: 50px; width: 240px;
    margin: 32px auto 8px auto;}
a.discord-link:hover {}

ul.page-links, ul.social-media-links {list-style: none;}
footer ul.page-links {margin-bottom: 12px;}
ul.page-links li {display: inline-block; margin-right: 32px;
    font-size: 24pt; font-family: 'Amatic SC', cursive;}
.mobile-link {display: none !important;}
footer ul.page-links li {font-size: 18pt;}
ul.social-media-links {float: right; margin-top: 6px;}
ul.social-media-links li {display:inline-block; margin-right: 8px; }
ul.social-media-links li a {display:block; max-width: 32px; height: 32px;
    color: rgba(0, 0, 0, 0); overflow: hidden;
    background-size: contain; background-repeat: no-repeat;}
.icon-facebook {background: url('img/icons/facebook.png'); width: 24px;}
.icon-twitter {background: url('img/icons/twitter.png'); width: 36px;}
.icon-youtube {background: url('img/icons/youtube.png');}
.icon-discord {
    display:inline-block; width: 32px; height: 32px;
    background: url('img/icons/discord.png');
    background-size: contain; background-repeat: no-repeat;
    vertical-align: middle;
}

footer {opacity: 0.5;}

.linkbar {background: url("/static/img/line-menu.png") no-repeat;
background-position: bottom left; padding-bottom: 16px;
background-size: 50%; background-repeat: repeat-x;}
footer {background: url("/static/img/line-menu.png") no-repeat;
background-position: top left; padding-top: 16px;
background-size: 50%; background-repeat: repeat-x;}

.action-links {list-style: none; margin: 8px 0px 20px 0px;}
.action-links li {display: inline-block; margin-right: 8px;
    width: 180px;}
.action-links li a {display: block;
    font-size: 11pt; color: #ee234f; font-weight: bold;
    text-align: center;}
.action-links li a:hover {background: none; padding-bottom: 0px;}
.action-links li a img {display: block; max-width: 68px; max-height: 68px; margin: 4px auto 8px auto;}
.action-links-contact li {width: 100px;}

p {line-height: 1.75; font-size: 11pt;
   margin-bottom: 1em;}

blockquote::before {content: ""; display: inline-block; background: url("/static/img/quot-left.png") no-repeat; width: 16px; height: 16px; background-size: contain; margin-right: 8px;}
blockquote:after {content: ""; display: inline-block; background: url("/static/img/quot-right.png") no-repeat; width: 16px; height: 16px; background-size: contain; margin-left: 8px;}
blockquote {margin-bottom: 12px; margin-top: 26px;}
.quote-author {font-weight: bold; margin-bottom: 8px;}
.clear {clear: both;}

ul.partners {list-style: none;}
ul.partners li {display: inline-block; margin-right: 32px; width: 140px;}
ul.partners img {width: 100%;}

.highlight {color: #ee234f;}

@media (max-width: 1200px) {
    body {background-position: -100px 0;}
    .sidebar {width: 300px;}
    .primary {margin-left: 300px;}
} 
@media (max-width: 1100px) {
    body {background-position: -100px 0;}
    .sidebar {width: 300px;}
    .primary {margin-left: 300px; padding-left: 30px;}
} 
@media (max-width: 800px) {
    .sidebar {display: none;}
    .primary {margin-left: 0px; padding: 0px;}
    .main {padding: 0px 32px 8px 32px;}
    .linkbar {background: url("/static/img/topbar-bg.png") repeat-x;
        background-position: bottom left;
        padding: 16px 32px 32px 32px;}
    .main h2:first-child {margin-top: 0.2em;}
    body {
    background: #1b2441;
    /*background-position: 0 -200px;*/
    }
    
    .mobile-link {display: inline-block !important; font-size: 20pt !important;}
    .mobile-logo {display: block;}
    footer {background-size: 100%;
        padding: 32px 32px 16px 32px;}
} 
@media (max-width: 520px) {
}
