/*
    primary_dark    #b01134
    primary         #df204e
    secondary_dark  #131936
    secondary       #1b2441
    secondary_light #222d51
*/
.forum {overflow: hidden;}

.clear {clear: both;}
    
.container {padding: 8px; padding-bottom: 16px;
    margin-top: 28px;}
    
input[type="text"], input[type="password"] { border: 2px solid #131936; background: #1b2441; padding: 2px; margin: 1px; border-radius: 3.5px; color: white; margin: 8px;}
input[type="text"]:focus, input[type="password"]:focus { background: #222d51; }
input[type="submit"], select {
    border: 2px solid #b01134;
    background: #b01134;
    padding: 3px; margin: 2px 2px 2px 2px; border-radius: 3.5px;
    color: #ffffff;
    font-size: 18px;
}
input[type="submit"]:focus, select:focus {
    
}
input.delete-button { font-style: italic; color: #fff; }

.forum a {color: white;
    text-decoration: underline; cursor: pointer;}
/*a:hover {color: #b01134;  transition: 0.1s ease;}*/

/* TODO */
.flash {border: 1px solid rgb(197, 188, 16); background: rgb(248, 241, 190);
    border-radius:8px; padding: 8px; margin: 6px 12px 0px 12px; color: black;
    margin-bottom: 24px;}


.inline-list {margin: 0; padding: 0; list-style: none;}
.inline-list li {margin: 0; padding: 0; display: inline;}
.inline-list li:before {content: '•';}

.breadcrumbs {margin-bottom: 8px; margin-top: 6px;}
.breadcrumbs a {text-decoration: none;}
.breadcrumbs a:hover {text-decoration: underline;}

/*h2 {font-size: 26px; margin: 2px 0px 2px 0px; background: #420524;
    border-bottom: 2px solid #840B49; border-left: 2px solid #840B49; border-radius: 0 0 0 8px; padding: 4px 4px 2px 6px;}
h2 > a {color: white; text-decoration: none;}
h2 > a:hover {text-decoration: underline;}*/
.forum h2 {
    font-family: inherit;
    font-size: 28px;    
    margin-top: 0.2em; color: white;
    background: #131936; padding: 8px 4px 6px 4px;
    border-radius: 8px;}
h2#reply {margin-top: 20px;}
.forum h2 a {text-decoration: none;}
.category-group {font-size: 14px; font-weight: normal;}

.forum-info {text-align: center; margin: 6px 10% 6px 10%;}

.fora {margin-bottom: 16px;}
.forum-desc {font-style: italic; margin-bottom: 2px; padding-left: 16px;
    padding-bottom: 6px; margin-top: 4px;}
    
.threads {margin-bottom:48px;}
.row { display: block; clear: right; padding: 3px;}
.morerow {text-align: center; width: 85%; margin: auto; margin-top: 4px;}
.row-pinned { border-left: 32px solid #131936;
    /*background: linear-gradient(to right, rgb(246, 246, 195) 0%, rgba(255, 255, 255, 0) 15%);*/ }
.row-archived {opacity: 0.4;}
.row-archived * {font-size: 90%;}
.row:hover {background: #222d51;}
.row-name {font-size: 21px;}
.row-description {font-size: 14px;}
.row-data {float: right; text-align: right; font-size: 14px; }
.row-user-groups {font-size: 12px;}
a.row-text {display: block; text-decoration: none; color: white;}
a.row-text:hover {}

.row-name .author {font-size: 16px; margin-left: 12px; font-style:italic;}
.row-name .author::before {content: '—';}

hr {border: 1px solid white; margin: 32px 0 32px 0;}

.index-admin {text-align: right;}
.forum-admin    {
    font-family: sans-serif;
    text-align: right; float: right; margin-top: 16px;}
/*.category-admin {text-align: right; float: right; margin-top: 4px;}*/
.category-admin {
    font-family: sans-serif;
    float: right; font-size: 14px; font-weight: normal;}

.thread-controls {float: right; text-align: right;}
.thread-desc {font-style: italic; margin-bottom: 2px; padding-left: 16px;
    /*border-bottom: 1px solid #333333;*/ padding-bottom: 6px;}
.thread-article {padding: 4px 0 4px 0;
    /*border-bottom: 1px solid #222222;*/ margin: 4px auto 8px auto;}
.thread-article-text {width: 90%; margin: auto;}
.thread-article-text p {text-indent: 4%; text-align: justify;}
.article-error {color: #f00;}

/*.post:before { content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em; background: none !important; }*/ /* For anchor */ 
.post {min-height: 100px; margin-bottom: 14px; position: relative;
    background: none; padding: 4px; clear: both;}
.fragment {position:relative; top:-50px;}

.post-deleted {opacity: 0.9; background-color: rgba(255, 0, 0, 0.2);
    border-radius: 8px;}

.post-sidebar {height: 100%; min-height: 100px; display:inline-block; width: 150px; /*border-right: 1px solid #840B49;*/
    float: left; background: none; text-align: center;  padding-bottom: 6px;
    background: #131936; border-radius: 8px 0px 8px 8px; padding-top: 8px;}
.post-author {font-weight: bold; margin-bottom: 0px;}
.post-author a {text-decoration: none;}
.post-author a:hover {text-decoration: underline;}
.post-author-title {font-size: smaller; margin-bottom: 4px;}
.post-author-posts {font-size: x-small; margin-bottom: 3px;}

.post-contents {margin-left: 150px;  height: 100%; min-height: 100px; /*border-left: 1px solid #840B49;*/ }
.post-data {border: 1px solid #131936; border-left: 0; padding: 2px 6px 2px 2px; border-radius: 0 8px 8px 0;  width: 100%; text-align: right; font-size: smaller; background: #131936;}
.post-data a {text-decoration: none;}
.post-data a:hover {text-decoration: underline;}
.post-text {padding: 4px 4px 4px 12px;}
.post-text p {text-indent: 12px; padding-left: 4px;}
.post-text textarea {width: 95%; min-height: 250px; font-family: inherit;
    background: #1b2441; color: white;  border-radius: 1em; padding:0.5em;
    border: 2px solid #131936; }
.post-text textarea:focus { background:#222d51;}

.forum blockquote::before {display: none;}
.forum blockquote::after {display: none;}
.forum blockquote {border: 2px solid #131936; border-width: 0 0 0px 4px; margin-left: 12px; padding-left: 12px; }
.forum blockquote .quoting {text-align: left; font-style: italic;
    border: 1px solid #131936; border-width: 1px 1px 1px 0; border-radius: 0 8px 8px 0;
    margin-bottom: 6px; background: #131936;
    margin-left: -12px; padding-left: 12px; }

.new-post-controls {text-align: center;}
.post-edited {font-size: smaller; text-align: right; font-style: italic;
    /*position: absolute; right: 0; bottom: 0;*/}
a.permalink {text-decoration: inherit; color: inherit;}
a.permalink:hover {text-decoration: underline;}

.locked-text {text-align: center; font-size: 17px; margin: 4px;}

/* doesn't work */
/*
.post:target, .post:target .post-sidebar {background-color: #000000fe4;
    background: linear-gradient(to bottom, #000000000000 0%, rgba(255, 255, 255, 0) 50%);} */

.new-thread #name, .post-contents #name, .category-name #name{width: 100%; margin-bottom:6px; font-size: 24px;}
.card-user #fullname {font-size: 24px; max-width: 300px;}
.category-name #name {font-weight: bold; width: 50%;}

.fail {color: #ff8787;}

.card {margin: auto; margin-top: 32px; width: 90%; max-width: 600px; min-height: 200px;
    border: 2px solid #131936; border-radius: 8px;
    padding: 12px;   color: white; background: #131936;}
.card h2 {background: inherit;}
/*.card a {color: #840B49;}*/
.card-image {width: 250px; height: 250px; border: 2px solid #1b2441; border-radius: 8px;
    float: left; margin-right: 12px; text-align: center; background: #1b2441;
    position: relative;}
.card-edit {float: right;}
.card-user {/*display: inline-block;*/ overflow: visible;} 
.card-threads {clear: right;}
.card dt {font-weight: bold;}
.card dd::before {content: '';display: inline-block; width: 8px;}

.avatar {
    display: block; max-width: 200px; max-height: 200px;
}
.card-image .avatar {
    width: auto; height: auto;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.users { margin-bottom: 12px; }
.users .avatar {
    max-height: 32px; display: inline-block;
}
.row-avatar {width: 32px; height: 32px; display: inline-block; vertical-align: middle;}
.row-avatar .avatar {max-width: 32px;}

.post-avatar {  }
.post-avatar .avatar {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.edit-groups {max-height: 400px; border: 1px solid #b8b8b8; overflow-y: scroll; padding: 8px; margin-bottom: 4px;}
.edit-groups ul {list-style: none; padding: 0; margin: 0;}

.new-icon {display: inline-block; font-size: 8px; color: black; background-color: yellow;
    border-radius: 6px; vertical-align: middle; padding: 1px 3px 1px 3px;
    text-decoration: none; margin-bottom: 3px;
    font-weight: bold;
    }
.new-icon:hover {color: black; box-shadow: 0 0 6px yellow;}

.forum-controls {text-align: center;}

.inline {display: inline;}

@media (max-width: 800px) {
    
    .container {width: 90%; margin: auto; padding: 8px; margin-top: 34px;}
    
    .tasks-container {width: 85%;}
    
    .row {position: relative;}
    .row a.row-text {min-height: 62px;}
    .users .row a.row-text {min-height: inherit;}
    .latest-posts .row a.row-text {min-height: 32px;}
    .row-data {font-size: 12px; position: absolute; bottom: 0; right: 0; margin-top: 64px;}
    
    .post-contents {margin-left: 0;}
    .post-sidebar {float: left; position: inherit; height: auto; border-bottom: 1px solid #840B49; margin-right: 4px;
        width: 150px; background: #111; border-radius: 0 0 8px 0;}
        
    .post-text textarea {width: calc(100% - 160px);}
        
}
@media (max-width: 600px) {
    .tasks-container {width: 95%;}
    .tasks {font-size: 12px;}
    .task-controls {width: 100px;}
    .post-sidebar {width: 125px;}
    .card-image {width: 150px; height: 150px;}
    .row-total {display: none;}
    .rhtitle {display: none;}
    
    .topbar {letter-spacing: -0.2px;}
    
}
