{% from '_macros.html' import 
   photo, action_link, action_links 
-%}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="_bvnLB-S2IdrLetU49YrmAk9Rf9tBTSXFJq9uJLJFmk" />
    
        <title>RetroHerna</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">    
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <!--<h1>RetroHerna</h1>-->
        <h1>
            <a href="/">
                <img src="/static/img/logo.png" alt="RetroHerna"
                class="logo"></a>
                <br />
            RetroHerna
        </h1>
        <h3>Novinky</h3>
        <ul>
            <li><a href="/clanky/retrip-slavnosti-archivnich-her">1. 4. ReTrip: Slavnosti archivních her</a>
            <li><a href="/clanky/mame-novy-web">1. 4. Máme nový web a logo!</a>
            <!--li class="more"><a href="#">Další novinky</a-->
        </ul>
        
        <h3>Nadcházející akce</h3>
        <ul>
            <li><a href="/vyjezdy">13.-15. 4. UniCon (Trnava)</a>
            <li><a href="/vyjezdy">15.-16. 6. ReTrip (Lipnice nad Sázavou)</a>
            <li><a href="/vyjezdy">28.-30. 6. Fantastická Ostrava (Ostrava)</a>
            <li class="more"><a href="/vyjezdy">Další akce</a>
        </ul>
        
        <h3>Nové články</h3>
        <ul>
            <li><a href="/clanky/retrip-slavnosti-archivnich-her">ReTrip: Slavnosti archivních her</a>
            <li><a href="/clanky/ps1-kdyz-hraji-rodice">PlayStation: Když táta vezme ovladač</a>
            <li><a href="/clanky/graphic-arts-video-game-history">Bajt za bajtem: Zpřístupnění videoher</a>
            <li><a href="/clanky/foxdata">Ovladače pro Nintendo 64</a>
            <li class="more"><a href="/clanky">Další články</a>
        </ul>
        
        <a class="discord-link" href="{{urls.discord}}">
            <div class="icon-discord"></div>
            Pokecej si na Discordu
        </a>
    </div>
    <div class="primary">
        <div class="linkbar">
            <ul class="social-media-links">
                <li><a href="{{urls.facebook}}" class="icon-facebook">Facebook</a>
                <li><a href="{{urls.twitter}}" class="icon-twitter">Twitter</a>
                <li><a href="{{urls.youtube}}" class="icon-youtube">YouTube</a>
                <li><a href="{{urls.instagram}}" class="icon-instagram">Instagram</a>
            </ul>
            <h1 class="mobile-logo">
                <img src="/static/img/logo.png" height=90 alt="">
                <img src="/static/img/retroherna_text.png" alt="RetroHerna" class="logotext">
            </h1>
            {% macro basic_links() %}
                <li><a href="/">O projektu</a>
                <li><a href="/vyjezdy">Výjezdy</a>
                <li><a href="/komunita">Komunita</a>
                <li><a href="/clanky">Články</a>
                <li><a href="/kontakt">Kontakt</a>
            {% endmacro %}
            <ul class="page-links">
                {{ basic_links() }}
                <li class="mobile-link"><a href="#">Novinky</a>
                <li class="mobile-link"><a href="#">Nadcházející akce</a>
            </ul>
            <div class="clearright"></div>
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <ul class="page-links">
                <!--{{ basic_links() }}-->
                <li>RetroHerna je projektem <a href="{{urls.hernihistorie}}">Herní historie, z.s.</a>
                <li><a href="/zasady-ochrany-soukromi">Zásady ochrany soukromí</a>
            </ul>
            <!--div class="copyright">RetroHerna je projektem Herní historie, z.s.</div-->
        </footer>
    </div>
    <div class="clear"></div>
    <!-- caching_comment :
        {{ g.caching_comment }}
    -->
</body>
</html>
