## REMEMBER TO ADD AN IMPORT TO _base.html
{% macro txt(num, rules) %}
    {% if   num == 1 %}            {{num}} {{rules[0]}}
    {% elif num > 1 and num < 5 %} {{num}} {{rules[1]}}
    {% else %}                     {{num}} {{rules[2]}}
    {% endif %}
{% endmacro %}
{% macro txt_threads(num) %}
    {{ txt(num, 'téma témata témat'.split()) }}
{% endmacro %}
{% macro txt_posts(num) %}
    {{ txt(num, 'příspěvek příspěvky příspěvků'.split()) }}
{% endmacro %}
{% macro ago(d) %}
    <span title="{{d|datetime}}">
        {% with diff = g.now - d %}
            {% if diff.days < 0 %}
                {{d|datetime}}
            {% elif diff.days == 0 %}
                {% if   diff.seconds < 10 %}      teď
                {% elif diff.seconds < 60 %}      před {{diff.seconds}} vteřinami
                {% elif diff.seconds < 120 %}     před minutou
                {% elif diff.seconds < 3600 %}    před {{diff.seconds//60}} minutami
                {% elif diff.seconds < 7200 %}    před hodinou
                {% elif diff.seconds < 86400 and g.now.day == d.day %}
                    před {{diff.seconds//3600}} hodinama
                {% else %}
                    včera {{d|datetime("%H:%M")}}
                {% endif %}
            {% else %}
                {% if diff.seconds < 86400*2 and g.yesterday.day == d.day %}
                    včera {{d|datetime("%H:%M")}}
                {% else %}
                    {{d|datetime("%d. %m. %Y %H:%M")}}
                {% endif %}
            {% endif %}
        {% endwith %}
    </span>
{% endmacro %}
