{% extends "_base.html" %}

{% block title %}index{% endblock %}

{% block content %}
    <h1><a href="{{url_for('index')}}">RHForum</a></h1>
    {% for category in categories %}
        {% if not category.group or category.group in g.user.groups %}
            {% if category != editable %}
                {% if category and g.user and g.user.admin and not editable %}
                {% endif %}
                <h2 class="category-name">
                    {% if category %}
                        {{category.name}}
                        {% if category and g.user.admin and not editable %} 
                            <span class="category-admin">
                                [ skupina: {{ category.group.name }} ]
                                <a href="{{url_for('edit_category', category_id=category.id)}}" class="edit-category-link">Upravit kategorii</a>
                            </span>
                        {% endif %}
                    {% else %}
                        Nezařazené
                    {% endif %}
                </h2>
            {% else %}
                <form class="form-edit-category" method="POST">
                    <h2 class="category-name">
                        {{ form.name }}
                        {{form.move_up or ""}}
                        {{form.move_down or ""}}<br>
                        <span class="category-group">Nutná skupina: {{ form.group_id }}</span>
                        {{form.save}}
                        {{form.delete(class_="delete-button")}}
                    </h2>
                </form>
            {% endif %}
            <div class="fora">
                {% for forum in (category.fora if category else uncategorized_fora) %}
                    {% if forum != editable %}
                        <div class="row">
                            <div class="row-data">
                                <div class="row-total">
                                    {{ txt_threads(forum.threads | count) }}
                                </div>
                                
                                <div class="row-last">
                                    {% if forum.last_post %}
                                        Nejnovější: <a href="{{forum.last_post.url}}">{{ forum.last_post.thread.name }} od <i>{{ forum.last_post.author.name }}</i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <a class="row-text" href="{{forum.url}}">
                                <div class="row-name">{{forum.name}}</div>
                                <div class="row-description">{{forum.description}}</div>
                            </a>
                        </div>
                    {% else %}
                        <form class="form-edit-forum" method="POST">
                        <div class="row">
                            <div class="row-data">
                                {% if not new %}
                                    {{form.move_up or ""}}<br>
                                    {{form.move_down or ""}}<br>
                                {% endif %}
                            </div>
                            <div class="row-text">
                                <div class="row-name">{{form.name}}</div>
                                <div class="row-description">
                                    {{ form.description }}
                                    {{ form.category_id }}
                                    {{ form.save }}
                                    <div>
                                        {% if forum.threads %}
                                            Přesunout existující témata do {{form.new_forum_id}} a {{form.delete(class_="delete-button")}}
                                        {% elif not new %}
                                            {{form.delete(class_="delete-button")}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    {% if g.user and g.user.admin and not editable %}
        <div class="index-admin">
            <a href="{{url_for('edit_forum')}}">Přidat fórum</a> &bull;
            <a href="{{url_for('edit_category')}}">Přidat kategorii</a>
            <br>
            <a href="{{trash.url}}">Koš</a>
        </div>
    {% endif %}
    {% if latest_posts %}
        <h2>Nejnovější příspěvky</h2>
        <div class="threads latest-posts">
            {% for post in latest_posts %}
                <div class="row">
                    <div class="row-data">
                        <div>{{ago(post.timestamp)}}</div>
                    </div>
                    <a class="row-text" href="{{post.url}}">
                        <div class="row-description">do <strong>{{post.thread.name}}</strong> od <i>{{post.author.name}}</i></span></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
