{% extends "_base.html" %}

{% block title %}index{% endblock %}

{% block content %}
    <h1><a href="{{url_for('index')}}">RHForum</a></h1>
    {% if g.user %}
        <div class="fora">
            {% for forum in fora %}
                {% if forum != edit_forum %}
                    <div class="row">
                        <div class="row-data">
                            <div class="row-total">{{ forum.threads | count }} témat</div>
                            <div class="row-last">
                                {% if forum.last_post %}
                                    Nejnovější: <a href="{{forum.last_post.thread.url}}">{{ forum.last_post.thread.name }} od {{ forum.last_post.author.name }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <a class="row-text" href="{{forum.url}}">
                            <div class="row-name">{{forum.name}}</div>
                            <div class="row-description">{{forum.description}}</div>
                        </a>
                    </div>
                {% else %}
                    <form class="form-edit-forum" method="POST">
                    <div class="row">
                        <div class="row-data">
                            {% if not new %}
                                {{form.move_up or ""}}<br>
                                {{form.move_down or ""}}
                            {% endif %}
                        </div>
                        <div class="row-text">
                            <div class="row-name">{{form.name}}</div>
                            <div class="row-description">{{form.description}} {{form.save}}</div>
                        </div>
                    </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
        {% if g.user and g.user.admin and not edit_forum %}
            <div class="forum-admin">
                <a href="{{url_for('edit_forum')}}">Přidat fórum</a>
            </div>
        {% endif %}
    {% else %}
        <p>Pro zobrazení fóra se prosím <a href="{{url_for('login')}}">přihlašte</a>.
    {% endif %}
{% endblock %}
