{% extends '_base.html' %}
{% block content %}
    <h2>Kontakt</h2>
    <strong>E-mail:</strong>
        <a href="mailto:info@retroherna.org">info@retroherna.org</a>
    <br>
    <strong>Telefon:</strong>
        +420 735 069 898
    <!-- TODO napiš nám -->
    
    <h3>Pro média</h3>
    <p>Spolek Herní historie, z.s. je nezisková organizace, která má za cíl tyto aktivity spojené s dějinami videoher zaštiťovat pod projektem RetroHerna. Je to pozvánka pro vás, abyste se přidali a vytvořili jsme tak unikátní komunitní projekt. Pomoci může každý a společně se podaří naši aktivity ještě rozšířit.
    <div>
        <a href="" class="highlight">Stáhnout press kit</a>
    </div>
    <h3>Sociální sítě</h3>
    {{ action_links((
        ("kontakt/discord", "Discord"),
        ("kontakt/facebook", "Facebook"),
        ("kontakt/twitter", "Twitter"),
        ("kontakt/youtube", "YouTube"),
      ), "contact")
    }}
    
{% endblock %}

