{% extends '_base.html' %}

{% macro photo(name) %}
    <div class="photo">
        <img src="/static/img/foto/{{name}}.png" class="image">
        <div class="border"></div>
    </div>
{% endmacro %}

{% macro action_link(identifier, text) %}
    <li><a href="#">
        <img src="/static/img/icons/{{identifier}}@2x.png">
        <div>
            {{text}}
        </div>
    </a>
{% endmacro %}

{% macro action_links(links) %}
    <ul class="action-links">
        {% for identifier, text in links %}
            {{ action_link(identifier, text) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <h2>O projektu</h2>
    <h3>Ahoj, vítej v RetroHerně!</h3>
    <p>Projekt RetroHerna vám už dva roky přináší možnost vyzkoušet si rozmanitou nabídku z hluboké historie počítačových i konzolových her. A i když je hlavní hry hrát a tedy je zpřístupnit veřejnosti, není to všechno, co děláme. Videohry si zaslouží přístup také z pohledu výzkumníka, archiváře.
    <p>Videohry jsou s námi bezmála už půl století. Jsou jich statisíce na stovkách platforem a přinesly nespočet radosti miliónům hráčů na celém světě. Co je na nich tak fascinujícího? To můžete zjistit na vlastní prsty.
    <div class="photos-two">
         {{ photo('hraci') }}
         {{ photo('knihovna') }}
    </div>
    <p>Archivace herních časopisů, články nadšenců, rozhovory s vývojáři i vaše vzpomínky na někdejší pátrání po tajných lokacích, to všechno prohlubuje zážitek z hraní a buduje tak skvělou komunitu hráčů, kteří spolu navzájem sdílejí své nadšení.
    
    <h3>Co děláme</h3>
    <p>Zajímá Vás cokoli z videoherní historie? Sháníte příslušenství nebo sběratelský kousek? Vyzkoušejte některý z našich komunikačních kanálů uvedených v záhlaví stránky nebo napište na naše <a href="#">fórum</a> a poraďte se s komunitou. Než vám přistane odpověď, můžete mrknout třeba na <a href="#">naše články</a>.
    
    <ul class="action-links">
        {{ action_link("o-projektu/vyjezdy-a-akce",
            "Výjezdy a akce") }}
        {{ action_link("o-projektu/komunita",
            "Komunita") }}
        {{ action_link("o-projektu/vyzkum-a-archivace",
            "Výzkum a archivace") }}
    </ul>
    
    <h3>Zapoj se</h3>
    <p>V rámci aktivit RetroHerny je nespočet možností, jak se mezi nás můžete osobně zapojit. Nejlepším způsobem, jak zjistit, co by se vám líbilo, je navštívit některý z našich <a>výjezdů</a>. A nebo nám napište a my s vámi rádi hodíme řeč osobně. Rádi si s vámi popovídáme a vymyslíme, co by se Ti líbilo.
    
     {{ photo('hraci-na-pohovce') }}
    
    <p>RetroHernu najdete na <a href="#">Facebooku</a> a na <a href="#">Discordu</a>. Na každé akci jsme pro vás a když zrovna netaháme televize, vždycky se rádi zastavíme na kus řeči. Ať už osobně a nebo on-line, nebojte se s námi sdílet svoje zážitky.
    
    {{ action_links((
        ("o-projektu/jak-se-zapojit", "Jak se zapojit"),
        ("o-projektu/napis-nam", "Napište nám"),
        ("o-projektu/nase-komunita", "Naše komunita")
      ))
    }}
    
    <h3>Jak nás podpořit</h3>
    
    <p>Podpořit nás můžete třeba starým kouskem do sbírky (konzolí, herním příslušenstvím, počítačem, monitory, CRT televizí, hrami, herními magazíny a literaturou), přiložením ruky k dílu (organizace výjezdů, údržba a opravy techniky) nebo finančním příspěvkem na náš <a href="#">transparentní účet</a>.
    {{ action_links((
        ("o-projektu/darovat-hardware", "Darovat hardware"),
        ("o-projektu/zapojit-se", "Zapojit se do projektu"),
        ("o-projektu/financne-podporit", "Finančně podpořit")
      ))
    }}
    
    <h3>Naši partneři</h3>
    <p>Speciální poděkování bychom rádi věnovali umělci Eniacovi, který pro RetroHernu vytvořil originální grafiku.  Tuhle i další jeho fantastickou práci naleznete na stránkách <a href="http://www.eniac.ninja">www.eniac.ninja</a>.
    <div>[TODO PARTNERI]</div>
    <p>RetroHerna své hlavní partnery teprve hledá. Myslíte si, že byste to mohli být vy? Napište nám e-mail na <a href="mailto:info@retroherna.org">info@retroherna.org</a> nebo nechte zprávu na <a href="#">Facebooku</a> a my se Vám ozveme.
    
    {{ action_links((
        ("o-projektu/pro-media", "Pro média"),
        ("o-projektu/objednejte-si-nas", "Objednejte si nás"),
        ("o-projektu/stante-se-partnerem", "Staňte se partnerem")
      ))
    }}
    
    <h3>Zážitky a ohlasy</h3>
    <blockquote>Parta velmi schopných a milých lidí, které potkávám pravidelně na akcích. Skvělá funkční technika, s hrami, které vás vrátí do dětství.</blockquote>
    <div class="quote-author">Jan Novák</div>
    
    <blockquote>Hry mají přinášet radost a v RetroHerně se tak děje. Doufám, že tomu tak bude i nadále. Užasní lidé i technika. Zapařit jedny z nejstarších her je prostě super.</blockquote>
    <div class="quote-author">Honza Novotný</div>
    
    {{ action_links((
        ("o-projektu/zahraj-si", "Přijďte si zahrát"),
        ("o-projektu/pokecej-si", "Hoďte s námi řeč"),
      ))
    }}
    
{% endblock %}

