{% extends '_base.html' %}
{% block content %}
    <h2>O projektu</h2>
    <h3>Ahoj, vítej v RetroHerně!</h3>
    <p>Projekt RetroHerna vám už dva roky přináší možnost vyzkoušet si rozmanitou nabídku z hluboké historie počítačových i konzolových her. A i když je hlavní hry hrát a tedy je zpřístupnit veřejnosti, není to všechno, co děláme. Videohry si zaslouží přístup také z pohledu výzkumníka, archiváře.
    <p>Videohry jsou s námi bezmála už půl století. Jsou jich statisíce na stovkách platforem a přinesly nespočet radosti miliónům hráčů na celém světě. Co je na nich tak fascinujícího? To můžete zjistit na vlastní prsty.
    <div class="photos-two">
         {{ photo('hraci') }}
         {{ photo('knihovna') }}
    </div>
    <p>Archivace herních časopisů, články nadšenců, rozhovory s vývojáři i vaše vzpomínky na někdejší pátrání po tajných lokacích, to všechno prohlubuje zážitek z hraní a buduje tak skvělou komunitu hráčů, kteří spolu navzájem sdílejí své nadšení.
    
    <h3>Co děláme</h3>
    <p>Zajímá Vás cokoli z videoherní historie? Sháníte příslušenství nebo sběratelský kousek? Vyzkoušejte některý z našich komunikačních kanálů uvedených v záhlaví stránky nebo napište na naše <a href="/forum/">fórum</a> a poraďte se s komunitou. Než vám přistane odpověď, můžete mrknout třeba na <a href="{{url_for('clanky')}}">naše články</a>.
    
    <ul class="action-links">
        {{ action_links((
         ("o-projektu/vyjezdy-a-akce", "Výjezdy a akce", url_for('vyjezdy')),
         ("o-projektu/komunita", "Komunita", url_for('komunita')),
         ("o-projektu/vyzkum-a-archivace", "Výzkum a archivace", url_for('clanky')),
        ))}}
    </ul>
    
    <h3>Zapoj se</h3>
    <p>V rámci aktivit RetroHerny je nespočet možností, jak se mezi nás můžete osobně zapojit. Nejlepším způsobem, jak zjistit, co by se vám líbilo, je navštívit některý z našich <a>výjezdů</a>. A nebo nám napište a my s vámi rádi hodíme řeč osobně. Rádi si s vámi popovídáme a vymyslíme, co by se Ti líbilo.
    
     {{ photo('hraci-na-pohovce') }}
    
    <p>RetroHernu najdete na <a href="{{urls.facebook}}">Facebooku</a> a na <a href="{{urls.discord}}">Discordu</a>. Na každé akci jsme pro vás a když zrovna netaháme televize, vždycky se rádi zastavíme na kus řeči. Ať už osobně a nebo on-line, nebojte se s námi sdílet svoje zážitky.
    
    {{ action_links((
        ("o-projektu/jak-se-zapojit", "Jak se zapojit", url_for('komunita')),
        ("o-projektu/napis-nam", "Napište nám", url_for('kontakt')),
        ("o-projektu/nase-komunita", "Naše komunita", url_for('komunita'))
      ))
    }}
    
    <h3>Jak nás podpořit</h3>
    
    <p>Podpořit nás můžete třeba starým kouskem do sbírky (konzolí, herním příslušenstvím, počítačem, monitory, CRT televizí, hrami, herními magazíny a literaturou), přiložením ruky k dílu (organizace výjezdů, údržba a opravy techniky) nebo finančním příspěvkem na náš <a href="{{urls.bankaccount}}">transparentní účet</a>.
    {{ action_links((
        ("o-projektu/darovat-hardware", "Darovat hardware", url_for('kontakt')),
        ("o-projektu/zapojit-se", "Zapojit se do projektu", url_for('komunita')),
        ("o-projektu/financne-podporit", "Finančně podpořit", url_for('kontakt'))
      ))
    }}
    
    <h3>Naši partneři</h3>
    <p>Speciální poděkování bychom rádi věnovali umělci Eniacovi, který pro RetroHernu vytvořil originální grafiku.  Tuhle i další jeho fantastickou práci naleznete na stránkách <a href="http://www.eniac.ninja">www.eniac.ninja</a>.
    <ul class="partners">
        {% set partners = (("https://animefest.cz/", "animefest"),
("http://www.4fans.cz", "4fans"),
("http://unicon.lol", "unicon"),
("http://arcadehry.cz", "arcadehry"),
("http://skillzone.cz/", "skillzone"),
("http://b2b.cqe.cz/", "cqe"),
("http://www.darkelf.cz/", "darkelf"),
("http://www.kudyznudy.cz/", "kudyznudy"),
("http://www.geekarna.cz/", "geekarna"),
("http://www.festivalfantazie.cz/", "festivalfantazie"),
("http://www.lancraft.cz/", "lancarft"),
("http://www.con-ec.cz/", "conec"),
("https://www.pirati.cz/", "pirati"),
("https://www.siliconhill.cz/", "siliconhill"),
("http://www.nm.cz/", "nm"),
("http://y-games.sk/", "y-games"),
("https://zasilkovna.cz/", "zasilkovna"),
("http://opticon.cz/", "opticon"),
("http://www.cswu.cz/koprcon/", "koprcon")) %}
        {% for url, name in partners %}
            <li><a href="{{url}}"><img src="/static/img/partners/{{name}}.png" alt="{{name}}"></a>
        {% endfor %}
    </ul>
    <p>RetroHerna své hlavní partnery teprve hledá. Myslíte si, že byste to mohli být vy? Napište nám e-mail na <a href="mailto:info@retroherna.org">info@retroherna.org</a> nebo nechte zprávu na <a href="{{urls.facebook}}">Facebooku</a> a my se Vám ozveme.
    
    {{ action_links((
        ("o-projektu/pro-media", "Pro média", url_for('kontakt')),
        ("o-projektu/objednejte-si-nas", "Objednejte si nás", url_for('kontakt')),
        ("o-projektu/stante-se-partnerem", "Staňte se partnerem", url_for('kontakt'))
      ))
    }}
    
    <h3>Zážitky a ohlasy</h3>
    <blockquote>Parta velmi schopných a milých lidí, které potkávám pravidelně na akcích. Skvělá funkční technika, s hrami, které vás vrátí do dětství.</blockquote>
    <div class="quote-author">Jan Novák</div>
    
    <blockquote>Hry mají přinášet radost a v RetroHerně se tak děje. Doufám, že tomu tak bude i nadále. Užasní lidé i technika. Zapařit jedny z nejstarších her je prostě super.</blockquote>
    <div class="quote-author">Honza Novotný</div>
    
    {{ action_links((
        ("o-projektu/zahraj-si", "Přijďte si zahrát", url_for('vyjezdy')),
        ("o-projektu/pokecej-si", "Hoďte s námi řeč", url_for('komunita')),
      ))
    }}
    
{% endblock %}

