* {box-sizing: content-box;} /* border-box */

.clear {clear: both;}

body {font-family: 'Ubuntu', sans-serif;  margin: 0; padding: 0; padding-bottom: 32px;}
    
.container {width: 75%; margin: auto; padding: 8px; padding-bottom: 16px;
    margin-top: 28px;}

a {color: #4a0629; transition: 0.4s ease-out;}
a:hover {color: #800a46; transition: 0.1s ease;}

.topbar { width: auto; position: fixed; top: 0; background: #f5eef2; width: 100%;
    border-bottom: 1px solid #e2cad7; z-index: 10;}
.topbar-contents { padding: 4px 32px 4px 32px; }
.topbar a {text-decoration: none;}
.topbar a:hover {text-decoration: underline;}
.topbar-links {display: inline-block; }
.rh-link {font-weight: bold;}
.topbar-user {float: right; display: inline-block; padding-left: 8px;}

.flash {border: 1px solid rgb(197, 188, 16); background: rgb(248, 241, 190);
    border-radius:8px; padding: 8px; margin: 6px 12px 0px 12px;}

h1 {font-weight: normal; margin: 0; margin-bottom: 6px;}
h1 a:first-child {font-weight: bold;}

.category-name {font-size: 26px; margin-bottom: 2px;
    border-bottom: 1px solid #763556; border-left: 1px solid #763556; border-radius: 8px; padding-left: 4px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ebd9e3 100%);}
.category-group {font-size: 14px; font-weight: normal;}

.forum-desc {font-style: italic; margin-bottom: 2px; padding-left: 16px;
    border-bottom: 1px solid #bbb; padding-bottom: 6px;}
.threads {margin-bottom:48px;}
.row {border-bottom: 1px solid #ddd; display: block; clear: both; padding: 3px;
    transition: 0.4s ease-out;}
.row:hover {background: #e2cad7; transition: 0s ease 0s; border-bottom: 1px solid #cd96b2;}
.row-name {font-size: 24px;}
.row-data {float: right; text-align: right; }
.rownew { background: linear-gradient(to left, rgba(255, 255, 128, 1) 0%, rgba(255, 255, 255, 0) 48px); }
.rownew:hover {background: linear-gradient(to left, rgba(255, 255, 128, 1) 0%, rgba(186, 186, 255, 0.5) 48px); transition-delay: 0.1s;}
a.row-text {display: block; text-decoration: none; color: black;}
a.row-text:hover {color: #4a0629;}

.row-name .author {font-size: 16px; margin-left: 12px; font-style:italic;}
.row-name .author::before {content: '—';}

.index-admin {text-align: right;}
.forum-admin    {text-align: right; float: right; margin-top: 42px;}
/*.category-admin {text-align: right; float: right; margin-top: 4px;}*/
.category-admin {float: right; font-size: 14px; font-weight: normal;}


/*.post:before { content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em; background: none !important; }*/ /* For anchor */ 
.post {min-height: 100px; margin-bottom: 14px; position: relative;
    background: none; padding: 4px; clear: both;}
.post-fragment {display: hidden; position:relative; top:-64px;}

.post-sidebar {height: 100%; min-height: 100px; display:inline-block; width: 150px; border-right: 1px solid #ddd;
    float: left; background: none; text-align: center;  padding-bottom: 6px;}
.post-author {font-weight: bold; margin-bottom: 4px;}
.post-author-posts {font-size: smaller; margin-bottom: 3px;}

.post-contents {margin-left: 150px;  height: 100%; min-height: 100px; border-left: 1px solid #ddd; }
.post-data {border: 1px solid #ddd; border-left: 0; padding: 2px 6px 2px 2px; border-radius: 0 8px 8px 0;  width: 100%; text-align: right; font-size: smaller; background: #f7f7f7;}
.post-text {padding: 4px 4px 4px 12px;}
.post-text p {text-indent: 4%;}
.post-text textarea {width: 95%; min-height: 100px; border: none; font-family: 'Ubuntu', sans-serif;
    background: white; color: #111; box-shadow: inset 0 0 6px #bbb; border-radius: 1em; padding:0.5em;
    border: 1px solid #555; }
.post-text textarea:focus {box-shadow: inset 0 0 6px #cc0;}
.new-post-controls {text-align: center;}
.post-edited {font-size: smaller; text-align: right; font-style: italic;
    /*position: absolute; right: 0; bottom: 0;*/}
a.permalink {text-decoration: inherit; color: inherit;}
a.permalink:hover {text-decoration: underline;}

.post:target, .post:target .post-sidebar {background-color: #ffffe4;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 50%);}

.new-thread #name, .post-contents #name, .category-name #name{width: 100%; margin-bottom:6px; font-size: 24px;}
.card-user #fullname {font-size: 24px; max-width: 300px;}
.category-name #name {font-weight: bold; width: 50%;}

.fail {color: #800;}

.card {margin: auto; margin-top: 32px; width: 90%; max-width: 600px; min-height: 200px;
    border: 1px solid #666; border-radius: 8px;
    padding: 12px; box-shadow:  0 0 1em #bbb;}
.card-image {width: 250px; height: 250px; border: 1px solid #999; border-radius: 8px;
    float: left; margin-right: 12px; text-align: center;
    position: relative;}
.card-edit {float: right;}
.card-user {display: inline-block;} 
.card-threads {clear: both;}

.avatar {
    display: block; max-width: 200px; max-height: 200px;
}
.card-image .avatar {
    width: auto; height: auto;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.users .avatar {
    max-height: 32px; display: inline-block;
}
.row-avatar {width: 32px; height: 32px; display: inline-block; vertical-align: middle;}

.post-avatar {  }
.post-avatar .avatar {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.edit-groups {max-height: 400px; border: 1px solid #555; overflow-y: scroll; padding: 8px; margin-bottom: 4px;}
.edit-groups ul {list-style: none; padding: 0; margin: 0;}

.new-icon {display: inline-block; font-size: 8px; color: black; background-color: yellow;
    border-radius: 6px; vertical-align: middle; padding: 1px 3px 1px 3px;
    text-decoration: none; margin-bottom: 3px;
    font-weight: bold;
    }
.new-icon:hover {color: black; box-shadow: 0 0 6px yellow;}

.forum-controls {text-align: center;}

input[type="text"], input[type="password"] { border: 1px solid #555; background: white; padding: 2px; margin: 1px; border-radius: 3.5px; color: #111; }
input[type="text"]:focus, input[type="password"]:focus { box-shadow: inset 0 0 3px #ff0; }
input[type="submit"], select { border: 1px solid #777; border-top: 1px solid #999;
    background: linear-gradient(to bottom, #fff 0%, #eee 35%);
    padding: 3px; margin: 2px; border-radius: 3.5px;
    box-shadow: inset -2px -2px 6px 0px #bbb;
    color: #111;
    font-size: 15px;
    }
input[type="submit"]:focus, select:focus {  box-shadow: inset -0px -0px 6px 0px #bbb; }
input.delete-button {box-shadow: inset -2px -2px 6px 0px #caa; color: #b00;}

@media (max-width: 800px) {
    
    .container {width: 90%; margin: auto; padding: 8px; margin-top: 34px;}
    .row {position: relative;}
    .row a.row-text {min-height: 62px;}
    .users .row a.row-text {min-height: inherit;}
    .latest-posts .row a.row-text {min-height: 32px;}
    .row-data {font-size: 12px; position: absolute; bottom: 0; right: 0; margin-top: 64px;}
    
    .post-contents {margin-left: 0;}
    .post-sidebar {float: left; position: inherit; height: auto; border-bottom: 1px solid #ddd; margin-right: 4px;
        width: 150px; background: white; border-radius: 0 0 8px 0;}
        
    .post-text textarea {width: calc(100% - 160px);}
        
}
@media (max-width: 600px) {
    .post-sidebar {width: 125px;}
    .card-image {width: 150px; height: 150px;}
}

