{% extends "_base.html" %}

{% block title %}{{ forum.name }} » {{ thread.name }}{% endblock %}

{% block content %}
    <h1><a href="{{url_for('index')}}">RHForum</a> » <a href="{{forum.url}}">{{forum.name}}</a> » <a href="{{thread.url}}">{{thread.name}}</a></h1>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div id="post-{{post.id}}" class="post-fragment"></div>
                {% if loop.last %}
                    <div id="post-{{post.id}}" class="post-fragment"></div>
                {% endif %}
                <div class="post-sidebar">
                    <div><a href="{{post.author.url}}">{{ post.author.name }}</a></div>
                    <div>{{ txt_posts(post.author.num_posts) }}</div>
                    <div class="post-avatar">
                        {% if post.author.avatar_url %}
                            <img src="{{post.author.avatar_url}}" class="avatar">
                        {% endif %}
                    </div>
                </div>
                <div class="post-contents">
                    <div class="post-data">
                        {% if (post.author == g.user) and post != edit_post %}
                            <a href="{{thread.url}}/edit/{{post.id}}#post-{{post.id}}">Upravit</a> &bull;
                        {% endif %}
                        <a href="{{post.url}}" class="permalink">{{ ago(post.timestamp) }}</a>
                    </div>
                    <div class="post-text">
                        {% if post != edit_post %}
                            <p>{{ post.text | safe | replace("\n", "\n<p>"|safe) | safe }}
                            {% if post.editstamp %}
                                <div class="post-edited">
                                    Naposledy upraveno {{ ago(post.editstamp) }}
                                </div>
                            {% endif %}
                        {% else %}
                            <form method="POST">
                                {% if edit_thread %}
                                    <div>{{ form.name }}</div>
                                    <div>Fórum: {{ form.forum_id }}</div>
                                {% endif %}
                                <div>{{ form.text }}</div>
                                <div>{{ form.submit }}</div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if g.user and not edit_post %}
        <h2>Nový příspěvek</h2>
        <form method="POST">
            <div class="post">
                <div class="post-sidebar">
                    <div><a href="{{ g.user.url }}">{{ g.user.name }}</a></div>
                </div>
                    <div class="post-contents">
                        <div class="post-data">
                            {{ ago(now) }}
                        </div>
                        <div class="post-text">
                            {{ form.text }}
                        </div>
                        <div class="newpost-controls">
                            {{ form.submit }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
