
{% macro photo(name) %}
    <div class="photo">
        {% if name.startswith("web2:") %}
            {% set url = g.dokuwiki_url+"/lib/exe/fetch.php?media="+name %}
        {% else %}
            {% set url = "/static/img/foto/"+name+".png" %}
        {% endif %}
        <img src="{{url}}" class="image">
        <div class="border"></div>
    </div>
{% endmacro %}

{% macro action_link(identifier, text, url) %}
    <li><a href="{{url}}">
        {% if identifier %}
            <img src="/static/img/icons/{{identifier}}@2x.png">
        {% endif %}
        <div>
            {{text}}
        </div>
    </a>
{% endmacro %}

{% macro action_links(links, class) %}
    <ul class="action-links action-links-{{class}}">
        {% for identifier, text, url in links %}
            {{ action_link(identifier, text, url) }}
        {% endfor %}
    </ul>
{% endmacro %}
