{% from 'forum/_macros.html' import txt, txt_threads,
    txt_posts, ago, errors, task_list,
    new_icon with context -%}
{% extends '_base.html' %}

{% block forum_sidebar %}
    {% if g.user %}
        Přihlášen/a za <a href="{{g.user.url}}">{{g.user.name}}</a> &bull;
        <a href="{{url_for('.logout')}}">Odhlásit se</a>
    {% else %}
        <a href="{{url_for('.login')}}">Přihlásit se</a> &bull;
        <a href="{{url_for('.register')}}">Registrovat</a>
    {% endif %}
{% endblock %}

{% block content %}
<!--    <title>RHforum » {% block title %}{% endblock %}</title> -->
    <script>
        window.onload = function(){
            Array.prototype.forEach.call(document.getElementsByClassName('delete-button'), function(el) {
                el.addEventListener('click', function(event) {
                    console.log('click');
                    if (!this.confirmed) {
                        this.confirmed = true;
                        this.value = "Opravdu?";
                        event.preventDefault()
                    }
                });
            });
            
            /*document.querySelector(".new-task").style.display = "none";
            document.querySelector(".tasks-add-button").onClick = function() {
                console.log('hi')
                document.querySelector(".new-task").style.display = "block";
                document.querySelector(".tasks-add-button").style.visibility = "hidden";
            }*/
        };
    </script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <!--
    <script src="/static/js/webshim/minified/polyfiller.js"></script> 
    <script> 
        webshims.polyfill();
        webshims.activeLang("cs");
    </script>-->
<section class="forum">
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% endwith %}
        
        {% block forum_content %}
        {% endblock %}
    </div>
</section>
{% endblock %}
