{% extends "forum/_base.html" %}

{% block title %}index{% endblock %}

{% block content %}
    <h2>Aktivní témata</h2>
    <div class="threads latest-posts">
        {% for thread in active_threads %}
            <div class="row">
                <div class="row-data">
                    {{ago(thread.laststamp)}}
                    {{ new_icon(thread) }}
                </div>
                <a class="row-text" href="{{thread.url}}">
                    <div class="row-single">{{thread.forum.symbol_name}}: <strong>{{thread.name}}</strong></div>
                </a>
            </div>
        {% endfor %}
        <!--<div class="row morerow">
            ...
        </div>-->
    </div>
    {% if g.user %}
        <div class="forum-controls">
            <form method="POST" action="{{url_for('.index')}}">
                {{form.mark_read}}
            </form>
        </div>
    {% endif %}
{% endblock %}
